{% extends "base.html" %}
{% block content %}
<div class="about">
    <div class="info">
        <div class="head_portrait"><img src="/static/head.jpg"></div>
        <div class="information">
            <p>Name: RondoChen</p>
            <p>Location: Guangzhou, China</p>
            <p>e-mail: <a href="mailto:rondochen@163.com">rondochen@163.com</a></p>
            <p>GitHub: <a href="https://github.com/RondoChen/" target="_blank">https://github.com/RondoChen/</a></p>
            <p>BLOG <a href="http://rondochen.blog.163.com" target="_blank">http://rondochen.blog.163.com</a></p>
        	<p>LOFTER <a href="http://rondochen.lofter.com" target="_blank">http://rondochen.lofter.com</a></p>
        </div>
    </div>
    <div class="desc">
        <p>I appreciate that you have found this website. However, this website was built to practice my web development skills, and most of the articles are written in Chinese. If you are interested about the photos or articles, I sugguest you to check my BLOG or LOFTER. </p>
        <br>
        <p>这个网站主要是作为本人一个网页开发的练习项目,虽然也会偶尔进行更新,但如果对我本人的文章或者图片有兴趣,建议根据上面的网址去我的BLOG或者LOFTER.</p>
    </div>
</div>
{% endblock %}