<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RondoChen's Website</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div class="top">
    <div class="page-title"></div>
    <div class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/album/">Album</a></li>
        </ul>

    </div>
</div>
{% block content %}
{% endblock %}

<div class="bottom" id="bottom">
    <div class="footer">© 2016 RondoChen, all rights reserved</div>
</div>
</body>
</html>