{% extends "base.html" %}
{% block content %}
<p align="left"
   style="color:white;font-family: 'Microsoft Sans Serif';font-size: 20px;width: 100%;background-color:black;">日志</p>
<div class="blog_content">
    <div class="side_bar">
        <div class="tags">
            <p>标签</p>
            <ul>
                {% for tag in tags %}
                <li><a href="/blog/{{ tag.tag_name }}/">{{ tag.tag_name }}({{ tag.count }})</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="summary">
            <p>归档</p>
            <ul>
                {% for summary in summarys %}
                <li>{{ summary.year }}({{ summary.count }})</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="blog_panel">
        <p style = "margin:10px;"><a href="/blog/">所有日志({{ all }})</a></p>
        {% for blog in blogs %}
        <div class="blog_field">
            <div class = "blog_title"><a href="/article/{{blog.blog_id}}">{{blog.blog_title}}</a></div>
            <div class = "blog_info">{{ blog.create_date }} 阅读{{ blog.viewedtime }} 评论{{ blog.commenttime }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
