<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RondoChen's Website</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<div class="top">
    <div class="page-title"></div>
    <div class="nav-bar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Album</a></li>
        </ul>

    </div>
</div>
<div class="content"></div>

<div class="bottom">
    <div class="footer">© 2016 RondoChen, all rights reserved</div>
</div>
</body>
</html>